/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
html, body {
  min-height: 100vh;
  min-width: 100vw; }

body {
  overflow-x: hidden; }

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

* {
  box-sizing: border-box; }

.wow {
  visibility: hidden; }

@font-face {
  font-family: 'Lowdrag';
  src: url("../fonts/lowdrag-regular-webfont.woff2") format("woff2"), url("../fonts/lowdrag-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 2rem; }
  .columns.is-mobile > .column.is-narrow {
    flex: none; }
  .columns.is-mobile > .column.is-full {
    flex: none;
    width: 100%; }
  .columns.is-mobile > .column.is-three-quarters {
    flex: none;
    width: 75%; }
  .columns.is-mobile > .column.is-two-thirds {
    flex: none;
    width: 66.6666%; }
  .columns.is-mobile > .column.is-half {
    flex: none;
    width: 50%; }
  .columns.is-mobile > .column.is-one-third {
    flex: none;
    width: 33.3333%; }
  .columns.is-mobile > .column.is-one-quarter {
    flex: none;
    width: 25%; }
  .columns.is-mobile > .column.is-one-fifth {
    flex: none;
    width: 20%; }
  .columns.is-mobile > .column.is-two-fifths {
    flex: none;
    width: 40%; }
  .columns.is-mobile > .column.is-three-fifths {
    flex: none;
    width: 60%; }
  .columns.is-mobile > .column.is-four-fifths {
    flex: none;
    width: 80%; }
  .columns.is-mobile > .column.is-offset-three-quarters {
    margin-left: 75%; }
  .columns.is-mobile > .column.is-offset-two-thirds {
    margin-left: 66.6666%; }
  .columns.is-mobile > .column.is-offset-half {
    margin-left: 50%; }
  .columns.is-mobile > .column.is-offset-one-third {
    margin-left: 33.3333%; }
  .columns.is-mobile > .column.is-offset-one-quarter {
    margin-left: 25%; }
  .columns.is-mobile > .column.is-offset-one-fifth {
    margin-left: 20%; }
  .columns.is-mobile > .column.is-offset-two-fifths {
    margin-left: 40%; }
  .columns.is-mobile > .column.is-offset-three-fifths {
    margin-left: 60%; }
  .columns.is-mobile > .column.is-offset-four-fifths {
    margin-left: 80%; }
  .columns.is-mobile > .column.is-1 {
    flex: none;
    width: 8.33333%; }
  .columns.is-mobile > .column.is-offset-1 {
    margin-left: 8.33333%; }
  .columns.is-mobile > .column.is-2 {
    flex: none;
    width: 16.66667%; }
  .columns.is-mobile > .column.is-offset-2 {
    margin-left: 16.66667%; }
  .columns.is-mobile > .column.is-3 {
    flex: none;
    width: 25%; }
  .columns.is-mobile > .column.is-offset-3 {
    margin-left: 25%; }
  .columns.is-mobile > .column.is-4 {
    flex: none;
    width: 33.33333%; }
  .columns.is-mobile > .column.is-offset-4 {
    margin-left: 33.33333%; }
  .columns.is-mobile > .column.is-5 {
    flex: none;
    width: 41.66667%; }
  .columns.is-mobile > .column.is-offset-5 {
    margin-left: 41.66667%; }
  .columns.is-mobile > .column.is-6 {
    flex: none;
    width: 50%; }
  .columns.is-mobile > .column.is-offset-6 {
    margin-left: 50%; }
  .columns.is-mobile > .column.is-7 {
    flex: none;
    width: 58.33333%; }
  .columns.is-mobile > .column.is-offset-7 {
    margin-left: 58.33333%; }
  .columns.is-mobile > .column.is-8 {
    flex: none;
    width: 66.66667%; }
  .columns.is-mobile > .column.is-offset-8 {
    margin-left: 66.66667%; }
  .columns.is-mobile > .column.is-9 {
    flex: none;
    width: 75%; }
  .columns.is-mobile > .column.is-offset-9 {
    margin-left: 75%; }
  .columns.is-mobile > .column.is-10 {
    flex: none;
    width: 83.33333%; }
  .columns.is-mobile > .column.is-offset-10 {
    margin-left: 83.33333%; }
  .columns.is-mobile > .column.is-11 {
    flex: none;
    width: 91.66667%; }
  .columns.is-mobile > .column.is-offset-11 {
    margin-left: 91.66667%; }
  .columns.is-mobile > .column.is-12 {
    flex: none;
    width: 100%; }
  .columns.is-mobile > .column.is-offset-12 {
    margin-left: 100%; }
  @media screen and (max-width: 768px) {
    .column.is-narrow-mobile {
      flex: none; }
    .column.is-full-mobile {
      flex: none;
      width: 100%; }
    .column.is-three-quarters-mobile {
      flex: none;
      width: 75%; }
    .column.is-two-thirds-mobile {
      flex: none;
      width: 66.6666%; }
    .column.is-half-mobile {
      flex: none;
      width: 50%; }
    .column.is-one-third-mobile {
      flex: none;
      width: 33.3333%; }
    .column.is-one-quarter-mobile {
      flex: none;
      width: 25%; }
    .column.is-one-fifth-mobile {
      flex: none;
      width: 20%; }
    .column.is-two-fifths-mobile {
      flex: none;
      width: 40%; }
    .column.is-three-fifths-mobile {
      flex: none;
      width: 60%; }
    .column.is-four-fifths-mobile {
      flex: none;
      width: 80%; }
    .column.is-offset-three-quarters-mobile {
      margin-left: 75%; }
    .column.is-offset-two-thirds-mobile {
      margin-left: 66.6666%; }
    .column.is-offset-half-mobile {
      margin-left: 50%; }
    .column.is-offset-one-third-mobile {
      margin-left: 33.3333%; }
    .column.is-offset-one-quarter-mobile {
      margin-left: 25%; }
    .column.is-offset-one-fifth-mobile {
      margin-left: 20%; }
    .column.is-offset-two-fifths-mobile {
      margin-left: 40%; }
    .column.is-offset-three-fifths-mobile {
      margin-left: 60%; }
    .column.is-offset-four-fifths-mobile {
      margin-left: 80%; }
    .column.is-1-mobile {
      flex: none;
      width: 8.33333%; }
    .column.is-offset-1-mobile {
      margin-left: 8.33333%; }
    .column.is-2-mobile {
      flex: none;
      width: 16.66667%; }
    .column.is-offset-2-mobile {
      margin-left: 16.66667%; }
    .column.is-3-mobile {
      flex: none;
      width: 25%; }
    .column.is-offset-3-mobile {
      margin-left: 25%; }
    .column.is-4-mobile {
      flex: none;
      width: 33.33333%; }
    .column.is-offset-4-mobile {
      margin-left: 33.33333%; }
    .column.is-5-mobile {
      flex: none;
      width: 41.66667%; }
    .column.is-offset-5-mobile {
      margin-left: 41.66667%; }
    .column.is-6-mobile {
      flex: none;
      width: 50%; }
    .column.is-offset-6-mobile {
      margin-left: 50%; }
    .column.is-7-mobile {
      flex: none;
      width: 58.33333%; }
    .column.is-offset-7-mobile {
      margin-left: 58.33333%; }
    .column.is-8-mobile {
      flex: none;
      width: 66.66667%; }
    .column.is-offset-8-mobile {
      margin-left: 66.66667%; }
    .column.is-9-mobile {
      flex: none;
      width: 75%; }
    .column.is-offset-9-mobile {
      margin-left: 75%; }
    .column.is-10-mobile {
      flex: none;
      width: 83.33333%; }
    .column.is-offset-10-mobile {
      margin-left: 83.33333%; }
    .column.is-11-mobile {
      flex: none;
      width: 91.66667%; }
    .column.is-offset-11-mobile {
      margin-left: 91.66667%; }
    .column.is-12-mobile {
      flex: none;
      width: 100%; }
    .column.is-offset-12-mobile {
      margin-left: 100%; } }
  @media screen and (min-width: 769px), print {
    .column.is-narrow, .column.is-narrow-tablet {
      flex: none; }
    .column.is-full, .column.is-full-tablet {
      flex: none;
      width: 100%; }
    .column.is-three-quarters, .column.is-three-quarters-tablet {
      flex: none;
      width: 75%; }
    .column.is-two-thirds, .column.is-two-thirds-tablet {
      flex: none;
      width: 66.6666%; }
    .column.is-half, .column.is-half-tablet {
      flex: none;
      width: 50%; }
    .column.is-one-third, .column.is-one-third-tablet {
      flex: none;
      width: 33.3333%; }
    .column.is-one-quarter, .column.is-one-quarter-tablet {
      flex: none;
      width: 25%; }
    .column.is-one-fifth, .column.is-one-fifth-tablet {
      flex: none;
      width: 20%; }
    .column.is-two-fifths, .column.is-two-fifths-tablet {
      flex: none;
      width: 40%; }
    .column.is-three-fifths, .column.is-three-fifths-tablet {
      flex: none;
      width: 60%; }
    .column.is-four-fifths, .column.is-four-fifths-tablet {
      flex: none;
      width: 80%; }
    .column.is-offset-three-quarters, .column.is-offset-three-quarters-tablet {
      margin-left: 75%; }
    .column.is-offset-two-thirds, .column.is-offset-two-thirds-tablet {
      margin-left: 66.6666%; }
    .column.is-offset-half, .column.is-offset-half-tablet {
      margin-left: 50%; }
    .column.is-offset-one-third, .column.is-offset-one-third-tablet {
      margin-left: 33.3333%; }
    .column.is-offset-one-quarter, .column.is-offset-one-quarter-tablet {
      margin-left: 25%; }
    .column.is-offset-one-fifth, .column.is-offset-one-fifth-tablet {
      margin-left: 20%; }
    .column.is-offset-two-fifths, .column.is-offset-two-fifths-tablet {
      margin-left: 40%; }
    .column.is-offset-three-fifths, .column.is-offset-three-fifths-tablet {
      margin-left: 60%; }
    .column.is-offset-four-fifths, .column.is-offset-four-fifths-tablet {
      margin-left: 80%; }
    .column.is-1, .column.is-1-tablet {
      flex: none;
      width: 8.33333%; }
    .column.is-offset-1, .column.is-offset-1-tablet {
      margin-left: 8.33333%; }
    .column.is-2, .column.is-2-tablet {
      flex: none;
      width: 16.66667%; }
    .column.is-offset-2, .column.is-offset-2-tablet {
      margin-left: 16.66667%; }
    .column.is-3, .column.is-3-tablet {
      flex: none;
      width: 25%; }
    .column.is-offset-3, .column.is-offset-3-tablet {
      margin-left: 25%; }
    .column.is-4, .column.is-4-tablet {
      flex: none;
      width: 33.33333%; }
    .column.is-offset-4, .column.is-offset-4-tablet {
      margin-left: 33.33333%; }
    .column.is-5, .column.is-5-tablet {
      flex: none;
      width: 41.66667%; }
    .column.is-offset-5, .column.is-offset-5-tablet {
      margin-left: 41.66667%; }
    .column.is-6, .column.is-6-tablet {
      flex: none;
      width: 50%; }
    .column.is-offset-6, .column.is-offset-6-tablet {
      margin-left: 50%; }
    .column.is-7, .column.is-7-tablet {
      flex: none;
      width: 58.33333%; }
    .column.is-offset-7, .column.is-offset-7-tablet {
      margin-left: 58.33333%; }
    .column.is-8, .column.is-8-tablet {
      flex: none;
      width: 66.66667%; }
    .column.is-offset-8, .column.is-offset-8-tablet {
      margin-left: 66.66667%; }
    .column.is-9, .column.is-9-tablet {
      flex: none;
      width: 75%; }
    .column.is-offset-9, .column.is-offset-9-tablet {
      margin-left: 75%; }
    .column.is-10, .column.is-10-tablet {
      flex: none;
      width: 83.33333%; }
    .column.is-offset-10, .column.is-offset-10-tablet {
      margin-left: 83.33333%; }
    .column.is-11, .column.is-11-tablet {
      flex: none;
      width: 91.66667%; }
    .column.is-offset-11, .column.is-offset-11-tablet {
      margin-left: 91.66667%; }
    .column.is-12, .column.is-12-tablet {
      flex: none;
      width: 100%; }
    .column.is-offset-12, .column.is-offset-12-tablet {
      margin-left: 100%; } }
  @media screen and (max-width: 1059px) {
    .column.is-narrow-touch {
      flex: none; }
    .column.is-full-touch {
      flex: none;
      width: 100%; }
    .column.is-three-quarters-touch {
      flex: none;
      width: 75%; }
    .column.is-two-thirds-touch {
      flex: none;
      width: 66.6666%; }
    .column.is-half-touch {
      flex: none;
      width: 50%; }
    .column.is-one-third-touch {
      flex: none;
      width: 33.3333%; }
    .column.is-one-quarter-touch {
      flex: none;
      width: 25%; }
    .column.is-one-fifth-touch {
      flex: none;
      width: 20%; }
    .column.is-two-fifths-touch {
      flex: none;
      width: 40%; }
    .column.is-three-fifths-touch {
      flex: none;
      width: 60%; }
    .column.is-four-fifths-touch {
      flex: none;
      width: 80%; }
    .column.is-offset-three-quarters-touch {
      margin-left: 75%; }
    .column.is-offset-two-thirds-touch {
      margin-left: 66.6666%; }
    .column.is-offset-half-touch {
      margin-left: 50%; }
    .column.is-offset-one-third-touch {
      margin-left: 33.3333%; }
    .column.is-offset-one-quarter-touch {
      margin-left: 25%; }
    .column.is-offset-one-fifth-touch {
      margin-left: 20%; }
    .column.is-offset-two-fifths-touch {
      margin-left: 40%; }
    .column.is-offset-three-fifths-touch {
      margin-left: 60%; }
    .column.is-offset-four-fifths-touch {
      margin-left: 80%; }
    .column.is-1-touch {
      flex: none;
      width: 8.33333%; }
    .column.is-offset-1-touch {
      margin-left: 8.33333%; }
    .column.is-2-touch {
      flex: none;
      width: 16.66667%; }
    .column.is-offset-2-touch {
      margin-left: 16.66667%; }
    .column.is-3-touch {
      flex: none;
      width: 25%; }
    .column.is-offset-3-touch {
      margin-left: 25%; }
    .column.is-4-touch {
      flex: none;
      width: 33.33333%; }
    .column.is-offset-4-touch {
      margin-left: 33.33333%; }
    .column.is-5-touch {
      flex: none;
      width: 41.66667%; }
    .column.is-offset-5-touch {
      margin-left: 41.66667%; }
    .column.is-6-touch {
      flex: none;
      width: 50%; }
    .column.is-offset-6-touch {
      margin-left: 50%; }
    .column.is-7-touch {
      flex: none;
      width: 58.33333%; }
    .column.is-offset-7-touch {
      margin-left: 58.33333%; }
    .column.is-8-touch {
      flex: none;
      width: 66.66667%; }
    .column.is-offset-8-touch {
      margin-left: 66.66667%; }
    .column.is-9-touch {
      flex: none;
      width: 75%; }
    .column.is-offset-9-touch {
      margin-left: 75%; }
    .column.is-10-touch {
      flex: none;
      width: 83.33333%; }
    .column.is-offset-10-touch {
      margin-left: 83.33333%; }
    .column.is-11-touch {
      flex: none;
      width: 91.66667%; }
    .column.is-offset-11-touch {
      margin-left: 91.66667%; }
    .column.is-12-touch {
      flex: none;
      width: 100%; }
    .column.is-offset-12-touch {
      margin-left: 100%; } }
  @media screen and (min-width: 1060px) {
    .column.is-narrow-desktop {
      flex: none; }
    .column.is-full-desktop {
      flex: none;
      width: 100%; }
    .column.is-three-quarters-desktop {
      flex: none;
      width: 75%; }
    .column.is-two-thirds-desktop {
      flex: none;
      width: 66.6666%; }
    .column.is-half-desktop {
      flex: none;
      width: 50%; }
    .column.is-one-third-desktop {
      flex: none;
      width: 33.3333%; }
    .column.is-one-quarter-desktop {
      flex: none;
      width: 25%; }
    .column.is-one-fifth-desktop {
      flex: none;
      width: 20%; }
    .column.is-two-fifths-desktop {
      flex: none;
      width: 40%; }
    .column.is-three-fifths-desktop {
      flex: none;
      width: 60%; }
    .column.is-four-fifths-desktop {
      flex: none;
      width: 80%; }
    .column.is-offset-three-quarters-desktop {
      margin-left: 75%; }
    .column.is-offset-two-thirds-desktop {
      margin-left: 66.6666%; }
    .column.is-offset-half-desktop {
      margin-left: 50%; }
    .column.is-offset-one-third-desktop {
      margin-left: 33.3333%; }
    .column.is-offset-one-quarter-desktop {
      margin-left: 25%; }
    .column.is-offset-one-fifth-desktop {
      margin-left: 20%; }
    .column.is-offset-two-fifths-desktop {
      margin-left: 40%; }
    .column.is-offset-three-fifths-desktop {
      margin-left: 60%; }
    .column.is-offset-four-fifths-desktop {
      margin-left: 80%; }
    .column.is-1-desktop {
      flex: none;
      width: 8.33333%; }
    .column.is-offset-1-desktop {
      margin-left: 8.33333%; }
    .column.is-2-desktop {
      flex: none;
      width: 16.66667%; }
    .column.is-offset-2-desktop {
      margin-left: 16.66667%; }
    .column.is-3-desktop {
      flex: none;
      width: 25%; }
    .column.is-offset-3-desktop {
      margin-left: 25%; }
    .column.is-4-desktop {
      flex: none;
      width: 33.33333%; }
    .column.is-offset-4-desktop {
      margin-left: 33.33333%; }
    .column.is-5-desktop {
      flex: none;
      width: 41.66667%; }
    .column.is-offset-5-desktop {
      margin-left: 41.66667%; }
    .column.is-6-desktop {
      flex: none;
      width: 50%; }
    .column.is-offset-6-desktop {
      margin-left: 50%; }
    .column.is-7-desktop {
      flex: none;
      width: 58.33333%; }
    .column.is-offset-7-desktop {
      margin-left: 58.33333%; }
    .column.is-8-desktop {
      flex: none;
      width: 66.66667%; }
    .column.is-offset-8-desktop {
      margin-left: 66.66667%; }
    .column.is-9-desktop {
      flex: none;
      width: 75%; }
    .column.is-offset-9-desktop {
      margin-left: 75%; }
    .column.is-10-desktop {
      flex: none;
      width: 83.33333%; }
    .column.is-offset-10-desktop {
      margin-left: 83.33333%; }
    .column.is-11-desktop {
      flex: none;
      width: 91.66667%; }
    .column.is-offset-11-desktop {
      margin-left: 91.66667%; }
    .column.is-12-desktop {
      flex: none;
      width: 100%; }
    .column.is-offset-12-desktop {
      margin-left: 100%; } }
  @media screen and (min-width: 1252px) {
    .column.is-narrow-widescreen {
      flex: none; }
    .column.is-full-widescreen {
      flex: none;
      width: 100%; }
    .column.is-three-quarters-widescreen {
      flex: none;
      width: 75%; }
    .column.is-two-thirds-widescreen {
      flex: none;
      width: 66.6666%; }
    .column.is-half-widescreen {
      flex: none;
      width: 50%; }
    .column.is-one-third-widescreen {
      flex: none;
      width: 33.3333%; }
    .column.is-one-quarter-widescreen {
      flex: none;
      width: 25%; }
    .column.is-one-fifth-widescreen {
      flex: none;
      width: 20%; }
    .column.is-two-fifths-widescreen {
      flex: none;
      width: 40%; }
    .column.is-three-fifths-widescreen {
      flex: none;
      width: 60%; }
    .column.is-four-fifths-widescreen {
      flex: none;
      width: 80%; }
    .column.is-offset-three-quarters-widescreen {
      margin-left: 75%; }
    .column.is-offset-two-thirds-widescreen {
      margin-left: 66.6666%; }
    .column.is-offset-half-widescreen {
      margin-left: 50%; }
    .column.is-offset-one-third-widescreen {
      margin-left: 33.3333%; }
    .column.is-offset-one-quarter-widescreen {
      margin-left: 25%; }
    .column.is-offset-one-fifth-widescreen {
      margin-left: 20%; }
    .column.is-offset-two-fifths-widescreen {
      margin-left: 40%; }
    .column.is-offset-three-fifths-widescreen {
      margin-left: 60%; }
    .column.is-offset-four-fifths-widescreen {
      margin-left: 80%; }
    .column.is-1-widescreen {
      flex: none;
      width: 8.33333%; }
    .column.is-offset-1-widescreen {
      margin-left: 8.33333%; }
    .column.is-2-widescreen {
      flex: none;
      width: 16.66667%; }
    .column.is-offset-2-widescreen {
      margin-left: 16.66667%; }
    .column.is-3-widescreen {
      flex: none;
      width: 25%; }
    .column.is-offset-3-widescreen {
      margin-left: 25%; }
    .column.is-4-widescreen {
      flex: none;
      width: 33.33333%; }
    .column.is-offset-4-widescreen {
      margin-left: 33.33333%; }
    .column.is-5-widescreen {
      flex: none;
      width: 41.66667%; }
    .column.is-offset-5-widescreen {
      margin-left: 41.66667%; }
    .column.is-6-widescreen {
      flex: none;
      width: 50%; }
    .column.is-offset-6-widescreen {
      margin-left: 50%; }
    .column.is-7-widescreen {
      flex: none;
      width: 58.33333%; }
    .column.is-offset-7-widescreen {
      margin-left: 58.33333%; }
    .column.is-8-widescreen {
      flex: none;
      width: 66.66667%; }
    .column.is-offset-8-widescreen {
      margin-left: 66.66667%; }
    .column.is-9-widescreen {
      flex: none;
      width: 75%; }
    .column.is-offset-9-widescreen {
      margin-left: 75%; }
    .column.is-10-widescreen {
      flex: none;
      width: 83.33333%; }
    .column.is-offset-10-widescreen {
      margin-left: 83.33333%; }
    .column.is-11-widescreen {
      flex: none;
      width: 91.66667%; }
    .column.is-offset-11-widescreen {
      margin-left: 91.66667%; }
    .column.is-12-widescreen {
      flex: none;
      width: 100%; }
    .column.is-offset-12-widescreen {
      margin-left: 100%; } }
  @media screen and (min-width: 1444px) {
    .column.is-narrow-fullhd {
      flex: none; }
    .column.is-full-fullhd {
      flex: none;
      width: 100%; }
    .column.is-three-quarters-fullhd {
      flex: none;
      width: 75%; }
    .column.is-two-thirds-fullhd {
      flex: none;
      width: 66.6666%; }
    .column.is-half-fullhd {
      flex: none;
      width: 50%; }
    .column.is-one-third-fullhd {
      flex: none;
      width: 33.3333%; }
    .column.is-one-quarter-fullhd {
      flex: none;
      width: 25%; }
    .column.is-one-fifth-fullhd {
      flex: none;
      width: 20%; }
    .column.is-two-fifths-fullhd {
      flex: none;
      width: 40%; }
    .column.is-three-fifths-fullhd {
      flex: none;
      width: 60%; }
    .column.is-four-fifths-fullhd {
      flex: none;
      width: 80%; }
    .column.is-offset-three-quarters-fullhd {
      margin-left: 75%; }
    .column.is-offset-two-thirds-fullhd {
      margin-left: 66.6666%; }
    .column.is-offset-half-fullhd {
      margin-left: 50%; }
    .column.is-offset-one-third-fullhd {
      margin-left: 33.3333%; }
    .column.is-offset-one-quarter-fullhd {
      margin-left: 25%; }
    .column.is-offset-one-fifth-fullhd {
      margin-left: 20%; }
    .column.is-offset-two-fifths-fullhd {
      margin-left: 40%; }
    .column.is-offset-three-fifths-fullhd {
      margin-left: 60%; }
    .column.is-offset-four-fifths-fullhd {
      margin-left: 80%; }
    .column.is-1-fullhd {
      flex: none;
      width: 8.33333%; }
    .column.is-offset-1-fullhd {
      margin-left: 8.33333%; }
    .column.is-2-fullhd {
      flex: none;
      width: 16.66667%; }
    .column.is-offset-2-fullhd {
      margin-left: 16.66667%; }
    .column.is-3-fullhd {
      flex: none;
      width: 25%; }
    .column.is-offset-3-fullhd {
      margin-left: 25%; }
    .column.is-4-fullhd {
      flex: none;
      width: 33.33333%; }
    .column.is-offset-4-fullhd {
      margin-left: 33.33333%; }
    .column.is-5-fullhd {
      flex: none;
      width: 41.66667%; }
    .column.is-offset-5-fullhd {
      margin-left: 41.66667%; }
    .column.is-6-fullhd {
      flex: none;
      width: 50%; }
    .column.is-offset-6-fullhd {
      margin-left: 50%; }
    .column.is-7-fullhd {
      flex: none;
      width: 58.33333%; }
    .column.is-offset-7-fullhd {
      margin-left: 58.33333%; }
    .column.is-8-fullhd {
      flex: none;
      width: 66.66667%; }
    .column.is-offset-8-fullhd {
      margin-left: 66.66667%; }
    .column.is-9-fullhd {
      flex: none;
      width: 75%; }
    .column.is-offset-9-fullhd {
      margin-left: 75%; }
    .column.is-10-fullhd {
      flex: none;
      width: 83.33333%; }
    .column.is-offset-10-fullhd {
      margin-left: 83.33333%; }
    .column.is-11-fullhd {
      flex: none;
      width: 91.66667%; }
    .column.is-offset-11-fullhd {
      margin-left: 91.66667%; }
    .column.is-12-fullhd {
      flex: none;
      width: 100%; }
    .column.is-offset-12-fullhd {
      margin-left: 100%; } }

.columns {
  margin-left: -2rem;
  margin-right: -2rem;
  margin-top: -2rem;
  margin-bottom: -2rem; }
  .columns.vertical-align {
    align-items: center; }
  .columns:last-child {
    margin-bottom: -2rem; }
  .columns.is-centered {
    justify-content: center; }
  @media screen and (min-width: 769px), print {
    .columns.is-wide-gap {
      margin-left: -4rem;
      margin-right: -4rem;
      margin-top: -4rem;
      margin-bottom: -4rem; }
      .columns.is-wide-gap > .column {
        padding: 4rem; }
      .columns.is-wide-gap:last-child {
        margin-bottom: -4rem; } }
  .columns.is-half-gap {
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -1rem;
    margin-bottom: -1rem; }
    .columns.is-half-gap > .column {
      padding: 1rem; }
    .columns.is-half-gap:last-child {
      margin-bottom: -1rem; }
  .columns.is-gapless {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0; }
    .columns.is-gapless > .column {
      margin: 0;
      padding: 0 !important; }
    .columns.is-gapless:not(:last-child) {
      margin-bottom: 1.5rem; }
    .columns.is-gapless:last-child {
      margin-bottom: 0; }
  .columns.is-mobile {
    display: flex; }
  .columns.is-multiline {
    flex-wrap: wrap; }
  .columns.is-vcentered {
    align-items: center; }
  @media screen and (min-width: 769px), print {
    .columns:not(.is-desktop) {
      display: flex; } }
  @media screen and (min-width: 1060px) {
    .columns.is-desktop {
      display: flex; } }

section.is-vcentered .columns, section.horz-align .columns, section.horizontal-align .columns {
  align-items: center; }

html {
  background-color: white;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%; }

body,
button,
input,
select,
textarea {
  font-family: "Montserrat", sans-serif; }

body {
  color: #0B0B0B;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5em; }
  @media screen and (min-width: 769px), print {
    body {
      font-size: 1rem; } }

h1, h2, h3, h4, h5, h6 {
  font-family: Lowdrag;
  font-weight: 700;
  line-height: 1em;
  width: 100%;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  letter-spacing: 2px; }

h1 + h1,
h1 + h2,
h1 + h3,
h1 + h4,
h1 + h5,
h1 + h6,
h1 + p,
h1 + a, h2 + h1,
h2 + h2,
h2 + h3,
h2 + h4,
h2 + h5,
h2 + h6,
h2 + p,
h2 + a, h3 + h1,
h3 + h2,
h3 + h3,
h3 + h4,
h3 + h5,
h3 + h6,
h3 + p,
h3 + a, h4 + h1,
h4 + h2,
h4 + h3,
h4 + h4,
h4 + h5,
h4 + h6,
h4 + p,
h4 + a {
  margin-top: 1em; }

h1 {
  font-size: 2.14rem; }

h2 {
  font-size: 2.14rem;
  margin: 20px 0; }

h3 {
  font-size: 2.14rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.14rem; }

h6 {
  font-size: 0.875rem; }

@media screen and (min-width: 769px), print {
  h1 {
    font-size: 3.375rem; }
  h2 {
    font-size: 3.14rem; }
  h3 {
    font-size: 2.285rem;
    margin: 50px 0; }
  h4 {
    font-size: 2.14rem; }
  h5 {
    font-size: 1.5rem; }
  h6 {
    font-size: 1.14rem; } }

@media screen and (min-width: 1060px) {
  h1 {
    font-size: 3.14rem; }
  h2 {
    font-size: 3.14rem; }
  h3 {
    font-size: 2.285rem; }
  h4 {
    font-size: 2.14rem; }
  h5 {
    font-size: 1.5rem; }
  h6 {
    font-size: 1.14rem; } }

a, a:visited {
  color: #A300FD;
  cursor: pointer;
  text-decoration: none;
  transition: all .2s ease;
  cursor: url("../images/hover-cursor.svg"), auto; }
  a strong, a:visited strong {
    color: currentColor; }
  a:hover, a:visited:hover {
    cursor: url("../images/hover-cursor.svg"), auto; }

.content {
  color: #b5b5b5; }
  .content a {
    color: white;
    text-decoration: underline;
    font-weight: 400; }
    .content a:hover {
      color: #A300FD;
      text-decoration: none; }

span {
  font-style: inherit;
  font-weight: inherit; }

strong {
  color: #0B0B0B;
  font-weight: 700; }

p {
  font-size: 14px;
  margin-bottom: 1em;
  font-weight: 200;
  line-height: 1.5em; }
  p a, p strong {
    font-weight: 600; }
  p:last-child {
    margin-bottom: 0; }
  p + h1,
  p + h2,
  p + h3,
  p + h4,
  p + h5,
  p + h6 {
    padding-top: 1em; }

h1.page-title {
  font-size: 3.14rem;
  margin-bottom: 25px; }

h5.subtitle {
  color: #A300FD;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2.75px;
  font-weight: 400;
  margin-bottom: 5px; }

.moon-glyph {
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Roboto,Segoe UI,Helvetica Neue,sans-serif; }

html[lang="en-US"] {
  margin-top: 0 !important; }

::selection {
  background: #FD00FD;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #FD00FD;
  /* Gecko Browsers */ }

body.admin-bar {
  padding-top: 46px; }
  @media screen and (min-width: 783px) {
    body.admin-bar {
      padding-top: 32px; } }

* {
  box-sizing: border-box; }

body {
  background: #0B0B0B;
  color: white;
  cursor: url("../images/cursor.svg"), auto; }

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block; }

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline; }

video {
  width: 100%;
  max-width: 100%;
  outline: none; }

#main-content {
  padding: 100px 0; }

.container {
  width: 85%;
  z-index: 1;
  margin: 0 auto; }
  @media screen and (min-width: 769px), print {
    .container {
      max-width: 569px;
      width: 569px; } }
  @media screen and (min-width: 1060px) {
    .container {
      max-width: 860px;
      width: 860px; } }
  @media screen and (min-width: 1252px) {
    .container {
      max-width: 1052px;
      width: 1052px; } }
  @media screen and (min-width: 1444px) {
    .container {
      max-width: 1244px;
      width: 1244px; } }

.header-graphic {
  position: absolute;
  top: -20px;
  right: -20px; }

.text-centered {
  text-align: center; }
  .text-centered * {
    text-align: center; }

.text-right {
  text-align: right; }

.p-t-0 {
  padding-top: 0; }

.p-b-0 {
  padding-bottom: 0; }

.m-t-0 {
  margin-top: 0; }

.m-b-0 {
  margin-bottom: 0; }

.video-bg {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  mix-blend-mode: screen;
  z-index: 2;
  pointer-events: none;
  opacity: .1; }

.video-overlay {
  position: relative; }

.content-footer {
  border-top: solid 1px #4a4a4a;
  border-bottom: solid 1px #4a4a4a;
  padding: 66.66667px 0;
  margin-top: 100px;
  margin-bottom: 50px; }

.footer-nav-container {
  align-items: center; }
  .footer-nav-container h6 {
    font-size: 0.875rem;
    color: #4a4a4a;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .footer-nav-container .portfolio-link {
    margin-top: 10px;
    display: inline-block;
    text-decoration: underline;
    color: #4a4a4a; }
    .footer-nav-container .portfolio-link:hover {
      color: #A300FD; }
  .footer-nav-container .footer-button {
    text-align: right; }

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .footer-nav a {
    display: inline-block;
    color: white;
    font-family: Lowdrag;
    font-size: 2.285rem;
    line-height: 1.25em;
    margin-bottom: 10px;
    position: relative; }
    .footer-nav a:last-child {
      margin-bottom: 0; }
    .footer-nav a:hover {
      color: #A300FD; }
  .footer-nav .current-menu-item {
    display: none; }

.social-footer .columns {
  align-items: center; }
  .social-footer .columns .column:last-child {
    text-align: right; }
    .social-footer .columns .column:last-child a {
      color: #4a4a4a; }
      .social-footer .columns .column:last-child a:hover {
        color: #A300FD; }

.social-footer .social-nav {
  display: flex;
  align-items: center; }
  .social-footer .social-nav a {
    margin-right: 15px;
    display: block;
    line-height: 0; }
    .social-footer .social-nav a svg g {
      transition: all .2s ease; }
    .social-footer .social-nav a:hover svg g {
      fill: #A300FD; }
  .social-footer .social-nav-name {
    color: #4a4a4a;
    position: relative;
    padding-left: 50px; }
    .social-footer .social-nav-name:before {
      content: '';
      width: 40px;
      height: 1px;
      background: #4a4a4a;
      display: block;
      position: absolute;
      top: 12px;
      left: 0; }

.btn {
  display: inline-block;
  background: transparent;
  border: solid 3px inherit;
  text-align: center;
  height: 44px;
  line-height: 38px;
  padding: 2px 30px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  border: solid 1px #A300FD;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all .2s ease;
  color: #A300FD;
  border-radius: 50px;
  background-position: center center;
  background-size: cover; }
  .btn:hover, .btn:focus, .btn.active {
    color: white;
    border-color: white;
    outline: none; }
  .btn.btn-block {
    width: 100%;
    display: block; }

p + .btn,
.content + .btn {
  margin-top: 25px; }

#navbar {
  background: #101010;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 92px;
  height: 100vh;
  display: flex;
  z-index: 900;
  transition: all .5s ease; }
  #navbar a {
    display: block;
    margin: 0 auto;
    cursor: pointer; }
    #navbar a:hover {
      opacity: .5;
      cursor: url("../images/hover-cursor.svg"), auto; }
  #navbar .menu-toggle {
    width: 40px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    cursor: pointer; }
    #navbar .menu-toggle span {
      display: block;
      width: 40px;
      height: 2px;
      background: white;
      position: absolute;
      top: 50%;
      transition: all .2s ease; }
      #navbar .menu-toggle span:first-child {
        top: 10%; }
      #navbar .menu-toggle span:last-child {
        top: 90%; }
    #navbar .menu-toggle:hover {
      cursor: url("../images/hover-cursor.svg"), auto; }
      #navbar .menu-toggle:hover span {
        background: #A300FD; }
  #navbar.active .menu-toggle span {
    top: 50%; }
    #navbar.active .menu-toggle span:first-child {
      transform: rotate(-45deg); }
    #navbar.active .menu-toggle span:nth-child(2) {
      transform: rotate(-45deg); }
    #navbar.active .menu-toggle span:last-child {
      transform: rotate(45deg); }
  #navbar .main-logo {
    transform: rotate(-90deg);
    width: 34px; }

#navigation {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: -100%;
  padding: 50px 0;
  padding-left: 95px;
  background: #101010;
  overflow-x: scroll;
  transition: all .5s ease-out;
  z-index: 850; }
  #navigation .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    position: relative;
    z-index: 5; }
  #navigation nav {
    display: flex;
    flex-direction: column;
    padding: 66.66667px 0;
    margin: 0 auto;
    align-items: flex-start; }
    #navigation nav .menu-item {
      padding-bottom: 15px; }
      #navigation nav .menu-item:last-child {
        margin-bottom: 0; }
    #navigation nav a {
      display: inline-block;
      color: white;
      font-family: Lowdrag;
      font-size: 3.14rem;
      line-height: 1.25em;
      position: relative; }
      #navigation nav a:before {
        content: '';
        width: 67px;
        height: 55px;
        background: url("../images/eye.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        position: absolute;
        top: 50%;
        transform: translate(-10px, -50%) scale(0.8);
        left: -80px;
        transition: all .2s ease;
        opacity: 0;
        pointer-events: none; }
      #navigation nav a:hover {
        color: #A300FD; }
        #navigation nav a:hover:before {
          opacity: 1;
          transform: translate(0, -50%) scale(1); }
    #navigation nav .shop-link a:after {
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      background: url("../images/shop-sparkle.png") no-repeat;
      background-position: center center;
      top: -15px;
      right: -30px;
      background-size: contain;
      transition: all .4s ease; }
  #navigation .nav-footer, #navigation .nav-header {
    text-align: right;
    font-size: 0.875rem;
    color: #4a4a4a;
    position: relative; }
  #navigation .nav-header a {
    color: #4a4a4a; }
    #navigation .nav-header a:hover {
      color: #A300FD; }
  #navigation .nav-footer:before {
    content: '';
    width: 40px;
    height: 1px;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    background: #4a4a4a; }

#navbar.active {
  background: #141414; }
  #navbar.active + #navigation {
    left: 0; }

.admin-bar #navbar,
.admin-bar #navigation {
  top: 46px;
  height: calc(100vh - 46px); }
  @media screen and (min-width: 783px) {
    .admin-bar #navbar,
    .admin-bar #navigation {
      top: 32px;
      height: calc(100vh - 32px); } }

#main-content {
  padding-left: 92px;
  position: relative;
  z-index: 1; }

@keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }

.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block; }

.stars {
  background: #101010 url("../images/stars.png") repeat top center;
  z-index: 0;
  opacity: .5; }

.twinkling {
  background: transparent url("../images/stars-mask.png") repeat top center;
  z-index: 1;
  -moz-animation: move-twink-back 400s linear infinite;
  -ms-animation: move-twink-back 400s linear infinite;
  -o-animation: move-twink-back 400s linear infinite;
  -webkit-animation: move-twink-back 400s linear infinite;
  animation: move-twink-back 400s linear infinite; }

.rainbow-overlay {
  position: fixed;
  right: -250px;
  width: 500px;
  top: 100px;
  pointer-events: none;
  z-index: 500;
  mix-blend-mode: screen; }

.page-template-home {
  position: relative; }
  .page-template-home:before {
    content: '';
    position: fixed;
    z-index: 1;
    background-image: url("../images/home-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50vw;
    height: 90%;
    left: 50%;
    top: 5%;
    transform: translateX(-5%); }

.home #main-content {
  width: 100vw;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5; }
  .home #main-content .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    flex-grow: 1; }
  .home #main-content .home-content {
    margin: 0 auto; }
  .home #main-content nav {
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    padding-top: 14.28571px;
    margin: 0 auto;
    align-items: flex-start; }
    .home #main-content nav a {
      display: inline-block;
      color: white;
      font-family: Lowdrag;
      font-size: 4.57rem;
      line-height: 1.25em;
      margin-bottom: 10px;
      position: relative; }
      .home #main-content nav a:last-child {
        margin-bottom: 0; }
      .home #main-content nav a:hover {
        color: #A300FD; }
  .home #main-content a.portfolio-link {
    color: #4a4a4a;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: solid 3px #4a4a4a; }
    .home #main-content a.portfolio-link:hover {
      color: #A300FD;
      border-bottom-color: #A300FD; }
  .home #main-content .home-footer, .home #main-content .home-header {
    text-align: right;
    font-size: 0.875rem;
    color: #4a4a4a;
    position: relative; }
  .home #main-content .home-footer:before {
    content: '';
    width: 40px;
    height: 1px;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    background: #4a4a4a; }
  .home #main-content .home-footer a {
    font-weight: 700;
    color: white; }
    .home #main-content .home-footer a:hover {
      color: #A300FD; }

.admin-bar.home #main-content {
  top: 0;
  min-height: calc(100vh - 46px); }
  @media screen and (min-width: 783px) {
    .admin-bar.home #main-content {
      top: 0;
      min-height: calc(100vh - 32px); } }

#portfolio-list {
  width: calc(100% + 50px); }

.masonry {
  width: 100% !important; }

.filter-button-group {
  margin: 50px 0;
  position: fixed;
  z-index: 200;
  bottom: -20px;
  right: 30px; }
  .filter-button-group .btn-floating {
    background: #A300FD;
    padding: 15px 25px;
    border-radius: 50px;
    display: block;
    font-size: 1.14rem;
    font-weight: 600;
    color: white;
    position: relative;
    z-index: 20; }
    .filter-button-group .btn-floating svg {
      width: 20px;
      height: 20px;
      vertical-align: bottom;
      margin-right: 5px; }
      .filter-button-group .btn-floating svg g {
        fill: white; }
  .filter-button-group .filters {
    position: fixed;
    bottom: -100px;
    right: 30px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    overflow: hidden;
    transition: all .5s ease;
    opacity: 0;
    padding-bottom: 40px; }
    .filter-button-group .filters a {
      padding: 5px 10px;
      background: #141414;
      margin: 5px 0;
      border-radius: 8px;
      display: block;
      overflow: hidden; }
      .filter-button-group .filters a:hover {
        background: #A300FD;
        color: white; }
      .filter-button-group .filters a.active {
        height: 0;
        padding: 0px 10px;
        margin: 0; }
  .filter-button-group:hover .btn-floating, .filter-button-group.toggle-active .btn-floating {
    background: #400064; }
  .filter-button-group:hover .filters, .filter-button-group.toggle-active .filters {
    bottom: 50px;
    opacity: 1; }

.portfolio-image {
  position: relative; }
  .portfolio-image img {
    width: 100%;
    height: auto; }
  .portfolio-image a {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    opacity: 0;
    transition: all .2s ease;
    width: 40px;
    height: 40px;
    background: url("../images/pin-btn.svg");
    background-size: cover;
    text-indent: -999px;
    overflow: hidden;
    background-position: center;
    border-radius: 50%; }
    .portfolio-image a:before {
      content: '';
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      background-image: url("../images/pin-btn-hover.svg");
      background-size: cover;
      top: 0;
      left: 0;
      position: relative;
      opacity: 1;
      z-index: 5;
      transition: all .2s linear;
      opacity: 0; }
  .portfolio-image:hover a {
    opacity: 1; }
    .portfolio-image:hover a:hover:before {
      opacity: 1; }

.testimonial .testimonial-header {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.875rem;
  letter-spacing: 2.75px;
  text-align: center;
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
  background: #0B0B0B;
  display: flex;
  color: #4a4a4a; }

.testimonial .testimonial-header,
.testimonial .testimonial-footer {
  display: flex; }
  .testimonial .testimonial-header:before, .testimonial .testimonial-header:after,
  .testimonial .testimonial-footer:before,
  .testimonial .testimonial-footer:after {
    content: '';
    display: block;
    flex: 1;
    height: 1px;
    background: #4a4a4a;
    position: relative;
    top: 5px; }
  .testimonial .testimonial-header:before,
  .testimonial .testimonial-footer:before {
    margin-right: 12px; }
  .testimonial .testimonial-header:after,
  .testimonial .testimonial-footer:after {
    margin-left: 8px; }

.testimonial.video-testimonial video {
  margin-bottom: 33.33333px; }

.testimonial .quote {
  text-align: center;
  font-size: 2.14rem;
  padding: 0 50px;
  padding-top: 30px;
  margin-bottom: 33.33333px;
  line-height: 1.25em;
  position: relative; }
  .testimonial .quote:before, .testimonial .quote:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-image: url("../images/quote-left.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: .5; }
  .testimonial .quote:after {
    background-image: url("../images/quote-right.png");
    left: auto;
    right: 0; }

.testimonial .quote-byline {
  align-items: center;
  justify-content: center; }
  .testimonial .quote-byline .column {
    width: initial;
    margin: 15px;
    flex: unset; }
    .testimonial .quote-byline .column:first-child {
      flex: 0; }
  .testimonial .quote-byline h5 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: .25em; }
  .testimonial .quote-byline h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1rem; }
  .testimonial .quote-byline .testimonial-image {
    width: 130px;
    height: 130px;
    background-image: url("../images/moon.png");
    border-radius: 50%;
    background-position: center;
    background-size: cover; }

.testimonial.video-testimonial .quote {
  font-size: 24px;
  padding: 20px 50px;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 25px; }
  .testimonial.video-testimonial .quote:before, .testimonial.video-testimonial .quote:after {
    width: 40px;
    height: 40px; }
  .testimonial.video-testimonial .quote:before {
    left: 40px; }
  .testimonial.video-testimonial .quote:after {
    right: 40px; }

.testimonial.video-testimonial .quote-byline .column {
  text-align: center; }

.testimonial.video-testimonial .quote-byline .column:first-child {
  display: none; }

.testimonial .testimonial-footer {
  margin-top: 33.33333px; }
  .testimonial .testimonial-footer svg {
    width: 19px;
    height: 18px; }
    .testimonial .testimonial-footer svg g {
      fill: #4a4a4a; }
  .testimonial .testimonial-footer:before {
    top: 10px;
    margin-right: 20px; }
  .testimonial .testimonial-footer:after {
    top: 10px;
    margin-left: 18px; }

.service-header video {
  margin-top: 100px; }
