// BUTTONS .SCSS

.btn {
	display: inline-block;
	background: transparent;
	border: solid 3px inherit;
	text-align: center;
	height: 44px;
	line-height: 38px;
	padding: 2px 30px;
	font-size: $size-6;
	font-family: $family-sans-serif;
	border: solid 1px $primary;
	cursor: pointer;
	-webkit-appearance: none;
	transition: all .2s ease;
	color: $purple;
	border-radius: 50px;
	background-position: center center;
	background-size: cover;

	&:hover,
	&:focus,
	&.active {
		color: $white;
		border-color: $white;
		outline: none;
	}

	&.btn-block {
		width: 100%;
		display: block;
	}
}

p + .btn,
.content + .btn {
	margin-top: $gap / 2;
}



