// LAYOUT .SCSS

html[lang="en-US"] {
  margin-top: 0!important;
}

body.admin-bar {
  padding-top: 46px;

  @media screen and (min-width: 783px) {
    padding-top: 32px;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: $black;
  color: $white;
  cursor: url('../images/cursor.svg'), auto;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}


input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
}

#main-content {
  padding: $section-space 0;
}

.container {
  width: 85%;
  z-index: 1;
  margin: 0 auto;

  @include tablet {
    max-width: $tablet - 2 * $section-space;
    width: $tablet - 2 * $section-space;
  }

  @include desktop {
    max-width: $desktop - 2 * $section-space;
    width: $desktop - 2 * $section-space;
  }

  @include widescreen {
    max-width: $widescreen - 2 * $section-space;
    width: $widescreen - 2 * $section-space;
  }

  @include fullhd {
    max-width: $fullhd - 2 * $section-space;
    width: $fullhd - 2 * $section-space;
  }
}

.header-graphic {
  position: absolute;
  top: -20px;
  right: -20px;
}


