// LAYOUT .SCSS

* {
  box-sizing: border-box;
}

body {
  background: $black;
  color: $white;
  cursor: url('../images/cursor.svg'), auto;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}


input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
}

.container {
  width: 85%;
  z-index: 1;
}

.container{ 
  margin: 0 auto;
  position: relative;

  @include tablet {
    width: 85%;
  }

  @include desktop {
    max-width: $desktop - 2 * $gap;
    width: $desktop - 2 * $gap;
  }

  @include widescreen {
    max-width: $widescreen - 2 * $gap;
    width: $widescreen - 2 * $gap;
  }

  @include fullhd {
    max-width: $fullhd - 2 * $gap;
    width: $fullhd - 2 * $gap;
  }
}



