.page-template-home {
	position: relative;

	&:before {
		content: '';
		position: fixed;
		z-index: 1;
		background-image: url('../images/home-bg.svg');
		background-repeat: no-repeat;
		background-size: contain;
		width: 50vw;
		height: 90%;
		left: 50%;
		top: 5%;
		transform: translateX(-5%);
	}
}

.home #main-content {
	width: 100vw;
	min-height: 100vh;
	padding-top: $gap;
	padding-bottom: $gap;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 5;

	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 100%;
		flex-grow: 1;
	}	

	.home-content {
		margin: 0 auto;
	}

	nav {
		display: flex;
		flex-direction: column;
		padding: $gap / 2 0;
		padding-top: $gap / 3.5;
		margin: 0 auto;
		align-items: flex-start;

		a {
			display: inline-block;
			color: $white;
			font-family: $family-serif;
			font-size: $size-0;
			line-height: 1.25em;
			margin-bottom: 10px;
			position: relative;

			&:last-child {
				margin-bottom: 0;
			}

			&:hover {
				color: $purple;
			}
		}
	}

	a.portfolio-link {
		color: $grey-dark;
		display: inline-block;
		padding-bottom: 5px;
		border-bottom: solid 3px $grey-dark;

		&:hover {
			color: $purple;

			border-bottom-color: $purple;
		}
	}

	.home-footer, .home-header {
		text-align: right;
		font-size: $size-7;
		color: $grey-dark;
		position: relative;
	}

	.home-footer:before {
		content: '';
		width: 40px;
		height: 1px;
		display: block;
		position: absolute;
		top: 50%;
		left: 0;
		background: $grey-dark;
	}

	.home-footer a {
		font-weight: $weight-bold;
		color: $white;

		&:hover {
			color: $purple;
		}
	}
}

.admin-bar.home #main-content {
	top: 0;
  min-height: calc(100vh - 46px);

  @media screen and (min-width: 783px) {
		top: 0;
  	min-height: calc(100vh - 32px);
  }
}
