#portfolio-list {
	width: calc(100% + #{$gap});
}

.masonry {
	width: 100% !important;
}

.grid-sizer,
.masonry-item,
.grid-item {

}

.filter-button-group {
	margin: $gap 0;
	position: fixed;
	z-index: 200;
	bottom: -20px;
	right: 30px;

	.btn-floating {
		background: $purple;
		padding: 15px 25px;
		border-radius: 50px;
		display: block;
		font-size: $size-5;
		font-weight: $weight-semibold;
		color: $white;
		position: relative;
		z-index: 20;

		svg {
			width: 20px;
			height: 20px;
			vertical-align: bottom;
			margin-right: 5px;

			g {
				fill: $white;
			}
		}
	}

	.filters {
		position: fixed;
		bottom: -100px;
		right: 30px;
		text-align: right;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		flex-wrap: wrap;
		overflow: hidden;
		transition: all .5s ease;
		opacity: 0;
		padding-bottom: 40px;

		a {
			padding: 5px 10px;
			background: $black-lighter;
			margin: 5px 0;
			border-radius: 8px;
			display: block;
			overflow: hidden;

			&:hover {
				background: $purple;
				color: $white;
			}

			&.active {
				height: 0;
				padding: 0px 10px;
				margin: 0;
			}
		}
	}

	&:hover,
	&.toggle-active {

		.btn-floating {
			background: darken($purple, 30%);
		}

		.filters {
			bottom: 50px;
			opacity: 1;
		}
	}
}


.portfolio-image {
	position: relative;

	img {
		width: 100%;
		height: auto;
	}

	a {
		display: block;
		position: absolute;
		top: 15px;
		left: 15px;
		opacity: 0;
		transition: all .2s ease;
		width: 40px;
		height: 40px;
		background: url('../images/pin-btn.svg');
		background-size: cover;
		text-indent: -999px;
		overflow: hidden;
		background-position: center;
		border-radius: 50%;

		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 40px;
			height: 40px;
			background-image: url('../images/pin-btn-hover.svg');
			background-size: cover;
			top: 0;
			left: 0;
			position: relative;
			opacity: 1;
			z-index: 5;
			transition: all .2s linear;
			opacity: 0;
		}
	}

	&:hover a {
		opacity: 1;

		&:hover:before {
			opacity: 1;
		}
	}
}

.testimonial {

	.testimonial-header {
		font-family: $family-sans-serif;
		text-transform: uppercase;
		font-weight: 100;
		font-size: $size-7;
		letter-spacing: 2.75px;
		text-align: center;
		position: relative;
		display: inline-block;
		margin-bottom: $gap;
		background: $black;
		display: flex;
		color: $grey-dark;
	}

	.testimonial-header,
	.testimonial-footer {
		display: flex;

		&:before, &:after {
			content: '';
			display: block;
			flex: 1;
			height: 1px;
			background: $grey-dark;
			position: relative;
			top: 5px;
		}

		&:before {
			margin-right: 12px;
		}

		&:after {
			margin-left: 8px;
		}
	}

	&.video-testimonial video {
		margin-bottom: $gap / 1.5;
	}

	.quote {
		text-align: center;
		font-size: $size-3;
		padding: 0 50px;
		padding-top: 30px;
		margin-bottom: $gap / 1.5;
		line-height: 1.25em;
		position: relative;

		&:before, &:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 60px;
			height: 60px;
			background-image: url('../images/quote-left.png');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			opacity: .5;
		}

		&:after {
			background-image: url('../images/quote-right.png');
			left: auto;
			right: 0;
		}
	}

	.quote-byline {
		align-items: center;
		justify-content: center;

		.column {
			width: initial;
			margin: 15px;
			flex: unset;

			&:first-child {
				flex: 0;
			}
		}

		h5 {
			font-family: $family-sans-serif;
			text-transform: uppercase;
			font-size: $size-4;
			margin-bottom: .25em;
		}
		h6 {
			font-family: $family-sans-serif;
			font-weight: 100;
			text-transform: uppercase;
			font-size: $size-6;
		}

		.testimonial-image {
			width: 130px;
			height: 130px;
			background-image: url('../images/moon.png');
			border-radius: 50%;
			background-position: center;
			background-size: cover;

		}
	}

	&.video-testimonial {
		.quote {
			font-size: 24px;
			padding: 20px 50px;
			max-width: 90%;
	    margin: 0 auto;
	    margin-bottom: $gap / 2;

			&:before, &:after {
				width: 40px;
				height: 40px;
			}

			&:before { left: 40px; }
			&:after { right: 40px; }
		}

		.quote-byline {
			.column {
				text-align: center;
			}
			.column:first-child {
				display: none;
			}
		}
	}

	.testimonial-footer {
		margin-top: $gap / 1.5;

		svg {
			width: 19px;
			height: 18px;

			g { fill: $grey-dark; }
		}

		&:before {
			top: 10px;
			margin-right: 20px;
		}

		&:after {
			top: 10px;
			margin-left: 18px;
		}
	}
}
